body {
    min-height: 100vh;      
    display: flex;
    flex-direction: column; 
    background:linear-gradient(135deg, #89f7fe, #66a6ff);

}



header{

    background-color: #005F99;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 1);

}


.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo img {
    width: 60px;
    max-width: 100%;
    height: auto;
    border-radius: 50%;

}


.navbar .nav-links{
    list-style: none;
    display: flex;
    gap: 20px;

}



.navbar .nav-links li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;

}

.logo img {
    width: 120px;        
    height: auto;        
    min-width: 80px;     
}


.navbar .carrito a{
    font-size: 1.5rem;
    color: wheat;
    text-decoration: none;
}



.nosotros-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
    background-color: rgb(205, 230, 226);
    transition: 1s;
}


.nosotros-container:hover{

    border-radius: 20px;

    text-shadow: 0 0 10px rgb(35, 146, 214);
    transform: translateY(-10px);
    transition: 2s;


}
.nosotros-container h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.nosotros-container h2 {
    color: #333;
    margin-top: 30px;
}

/* Footer */
footer {
    background-color: #17252a;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 30px;
}



